---
layout: page
title: interactive
permalink: /activities
redirect_from: /interactive
---

<p>I have a healthy interest in using computers for mathematics, in different ways.

<h2>Online mathematics</h2>
<p>I've created interactive classifications:
<ul>
  <li style="margin-bottom: 4px">{% include icon-fanography.html %}<br><em>a tool to visually study the geography of Fano 3-folds</em>
  <li style="margin-bottom: 4px">{% include icon-grassmannian.html %}<br><em>a periodic table of (generalised) Grassmannians</em>
  <li style="margin-bottom: 4px">{% include icon-hyperkaehler.html %}<br><em>the geography of irreducible holomorphic symplectic (or hyperkähler) varieties</em>
  <li style="margin-bottom: 4px">{% include icon-mgnbar.html %}<br><em>the geometry of $\overline{\mathrm{M}}_{g,n}$</em>
  <li style="margin-bottom: 4px">{% include icon-superficie.html %}<br><em>interactive geography of (minimal) complex algebraic smooth surfaces</em>
  <li style="margin-bottom: 4px">{% include icon-cubics.html %}<br><em>cubic fourfolds and their associated K3 surfaces</em>
</ul>
<p>I also maintain the (infrastructure for) the following websites:
<ul>
  <li style="margin-bottom: 4px">{% include icon-stacks.html %}<br><em>an open source textbook and reference work on algebraic geometry</em>
  <li style="margin-bottom: 4px">{% include icon-ncag.html %}<br><em>a website for things related to noncommutative algebraic geometry</em>
  <li style="margin-bottom: 4px">{% include icon-kerodon.html %}<br><em>an online resource for homotopy-coherent mathematics</em>
</ul>

<h2>Implementations</h2>
<p>I've implemented the following (hopefully useful) tools:
<ul>
  <li style="margin-bottom: 4px">{% include icon-hodge.html %}<br><em>a tool to work with Hodge diamonds, comes with many varieties and constructions built into it</em>
  <li style="margin-bottom: 4px">{% include icon-quivertools.html %}<br><em>a toolset to work with quivers and moduli of quiver representations</em>
  <li><a href="https://github.com/pbelmans/twisted-hodge-hilbert"><code>twisted-hodge-hilbert</code></a>, Sage library to compute twisted Hodge numbers of Hilbert schemes of points
  <li><a href="https://github.com/pbelmans/twisted-hodge-ci"><code>twisted-hodge-ci</code></a>, Sage library to compute twisted Hodge numbers of complete intersections, joint with Piet Glas
  <li><a href="https://gerby-project.github.io"><code>gerby-project</code></a>, the system underlying the Stacks project, Kerodon, and other large online mathematical texts
</ul>
<p>currently not functioning:
<ul>
  <li><a href="https://bibgetter.github.io/"><code>bibgetter</code></a>, automatically resolve MathSciNet and arXiv identifiers in LaTeX for bibliography management
    <br>(after the MathSciNet update this no longer works, I will look into it in due time)
</ul>


<h2 id="various">Various</h2>
<p>I also have smaller (and older) projects:</p>
<ul>
  <li id="atlas"><p><a href="{{ site.baseurl }}/blog/atlas/">An atlas for $\mathop{\mathrm{Spec}}\mathbb{Z}[x]$</a>, a collection of pictures for the geometric intuition behind $\mathop{\mathrm{Spec}}\mathbb{Z}[x]$

  <li id="topologies"><p><a href="{{ site.baseurl }}/topologies-comparison">comparison of topologies on $\mathrm{Sch}/S$</a>, an incomplete comparison of all the Grothendieck topologies on the category of schemes I could find, together with their properties</p>

  <p>see <a href="https://github.com/pbelmans/topologies-comparison"><code>github.com/pbelmans/topologies-comparison</code></a>

  <li id="tables"><p><a href="{{ site.baseurl }}/cohomology-tables">cohomology of twists of the structure sheaf and Hodge diamonds for complete intersections</a>: in the case of a complete intersection it is not too difficult to compute the dimensions of the cohomology spaces of (twists of) the structure sheaf, thereby visualising Serre duality, and similarly one can compute the Hodge diamond</p>

  <p>see <a href="https://github.com/pbelmans/cohomology-tables"><code>github.com/pbelmans/cohomology-tables</code></a>

  <!--
  <li><p><a href="http://win.ua.ac.be/~pbelmans/stacks-table/">comparison tables for the Stacks project</a> (work in progress): the goal is to have tables comparing properties and providing a structured means of accessing the Stacks project, the first example being properties of morphisms and their preservation properties (under composition, base change, fpqc descent, ...)</p>

  <p>see <a href="https://github.com/stacks/stacks-table"><code>github.com/stacks/stacks-table</code></a>
  -->
</ul>
