---
layout: page
title: categories
permalink: /blog/categories
exclude: true
---

<ul>
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
    <li><a href="#{{ category[0] | slugify }}">{{ category[0] }} ({{ category | last | size }})</a>
  {% endfor %}
</ul>

{% for category in categories %}
<h2 class="posts-list" id="{{ category[0] | slugify }}">{{ category[0] }}</h2>

<ul class="posts-list">
  {% for post in category[1] %}
  <li><span class="date">{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}
