---
layout: default
---

{% include about.html %}

<h2>Teaching</h2>
<ul>
  <li><a href="/teaching/rep-2019">Representation theory I</a>
</ul>

<h2>Latest blogposts</h2>
<ul class="posts-list">
{% for post in site.posts limit:5 %}
  <li><span class="date">{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{% if post.draft %} (draft){% endif %}
{% endfor %}
</ul>

<h2>Conferences</h2>
<ul>
  <li>Stacks Project Workshop 2, <em>to be announced</em>
  <li><a href="http://stacks.github.io">Stacks Project Workshop</a>, Ann Arbor, July 31&ndash;August 4, 2017
  <li><a href="http://antwerp-2016.ncag.info">Non-commutative, derived and homotopical methods in geometry</a>, in Antwerp, September 19&ndash;24, 2016
</ul>
