---
layout: default
---

<img style="float: right; padding: 10px" width="200" src="assets/photo.jpg">

<p>I am an assistant professor at the <a href="https://math.uni.lu">University of Luxembourg</a>.
<p>You can reach me at <a href="mailto:pieter.belmans@uni.lu">pieter.belmans@uni.lu</a>.

<ul>
  <li style="margin-bottom: 4px">{% include icon-fanography.html %}<!--<br><em>a tool to visually study the geography of Fano 3-folds</em>-->
  <li style="margin-bottom: 4px">{% include icon-grassmannian.html %}<!--<br><em>a periodic table of (generalised) Grassmannians</em>-->
  <li style="margin-bottom: 4px">{% include icon-hyperkaehler.html %}<!--<br><em>the geography of irreducible holomorphic symplectic (or hyperkähler) varieties</em>-->
  <li style="margin-bottom: 4px">{% include icon-superficie.html %}<!--<br><em>interactive geography of (minimal) complex algebraic smooth surfaces</em>-->
</ul>

<h2>Latest blogposts</h2>
<ul class="posts-list">
{% for post in site.posts limit:7 %}
  <li><span class="date">{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{% if post.draft %} (draft){% endif %}
{% endfor %}
</ul>

<!--
<h2>Teaching in Bonn</h2>
<ul>
  <li>Sommersemester 2021: <a href="/teaching/hh-2021">Selected topics in representation theory: Hochschild (co)homology</a>
  <li>Wintersemester 2020/2021: <a href="/teaching/quantum-cohomology-2020">Seminar on quantum cohomology of partial flag varieties</a>
  <li>Sommersemester 2020: <a href="/teaching/exceptional-collections-2020">Seminar on exceptional collections for finite-dimensional algebras and partial flag varieties</a>
  <li>Wintersemester 2019/2020: <a href="/teaching/rep-2019-ii">Representation theory II</a>
  <li>Sommersemester 2019: <a href="/teaching/rep-2019">Representation theory I</a>
  <li>Sommersemester 2018: <a href="/teaching/hh-2018">Advanced topics in algebra: Hochschild (co)homology</a>
</ul>
-->

<h2 id="conferences">Conferences</h2>
<ul>
  <li><a href="https://stacks.github.io">Stacks Project Workshop 2</a>, Ann Arbor, summer 2022?
  <li><a href="https://nc-shapes.info">Noncommutative shapes</a>, Antwerp, September 19&ndash;23, 2022
  <li><a href="https://nc-shapes.info">Noncommutative shapes: halfway event</a>, Antwerp, September 20, 2021
  <li><a href="https://www.hcm.uni-bonn.de/events/eventpages/felix-klein-lectures/fkl-2020-reineke/">Felix Klein lectures by Markus Reineke: Quiver moduli and applications</a>, online, October 20&ndash;29, 2020
  <li><a href="https://stacks.github.io">Stacks Project Online GEometry Event</a>, online, August 3&ndash;7, 2020
  <li><a href="https://stacks.github.io/2017">Stacks Project Workshop</a>, Ann Arbor, July 31&ndash;August 4, 2017
  <li><a href="https://antwerp-2016.ncag.info">Non-commutative, derived and homotopical methods in geometry</a>, Antwerp, September 19&ndash;24, 2016
</ul>
