---
layout: default
---

{% include about.html %}

<h2>Latest blogposts</h2>
<ul class="posts-list">
{% for post in site.posts limit:5 %}
  <li><span class="date">{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{% if post.draft %} (draft){% endif %}
{% endfor %}
</ul>

<h2>We are organising</h2>
<ul>
  <li><a href="http://antwerp-2016.ncag.info">Non-commutative, derived and homotopical methods in geometry</a>, in Antwerp, September 19&ndash;24, 2016
  <li><a href="http://stacks.github.io">Stacks Project Workshop</a>, most likely in Ann Arbor, summer 2017
</ul>
