---
layout: page
title: tags
permalink: /blog/tags
exclude: true
---

<ul>
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
  <li><a href="#{{ tag[0] | slugify }}">{{ tag[0] }} ({{ tag | last | size }})</a>
  {% endfor %}
</ul>

{% for tag in tags %}
<h2 class="posts-list" id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>

<ul class="posts-list">
  {% for post in tag[1] %}
  <li><span class="date">{{ post.date | date: "%b %d, %Y" }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

