<footer>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        contact me:
        <br>
        &nbsp;&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <br><br>
        address:
        <address>
          &nbsp;&nbsp;room 402<br>
          &nbsp;&nbsp;Max Planck Institute for Mathematics<br>
          &nbsp;&nbsp;Vivatsgasse 7<br>
          &nbsp;&nbsp;53111 Bonn
        </address>
      </div>

      <div class="footer-col footer-col-3">
        I maintain
        <ul class="social-media-list">
          <li>{% include icon-stacks.html %}
          <li>{% include icon-ncag.html %}
          <li>{% include icon-kerodon.html %}
          <li>{% include icon-fanography.html %}
          <li>{% include icon-superficie.html %}
        </ul>
        you can also find me on
        <ul class="social-media-list">
          <li>{% include icon-github.html username="pbelmans" %}
          <li>{% include icon-twitter.html username="pbelmans" %}
          <li>{% include icon-mathoverflow.html username="pbelmans" id="6263" %}
        </ul>
      </div>
    </div>
  </div>
</footer>
