<li>
  <p class="title">{{ paper.title }}</p>
  {% if paper.coauthors %}
    <p class="coauthors">with {% for coauthor in paper.coauthors %}{% if site.data.coauthors[coauthor].url %}<a href="{{ site.data.coauthors[coauthor].url }}">{% endif %}{{ site.data.coauthors[coauthor].name }}{% if site.data.coauthors[coauthor].url %}</a>{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}.</p>
  {% endif %}
  {% if paper.journal %}<p class="journal">{{ paper.journal }}, {{ paper.information }}</p>{% endif %}
  {% if paper.comment %}<p class="comment">{{ paper.comment }}</p>{% endif %}
  {% if paper.arxiv or paper.mathscinet or paper.doi or paper.zbmath or paper.pdf %}
    <p class="badges">
    {% if paper.arxiv %}<span class="id"><a href="https://arxiv.org/abs/{{ paper.arxiv }}"><span class="id-type id-arxiv">arXiv</span><span class="id-key">{{ paper.arxiv }}</span></a></span>{% endif %}
    {% if paper.mathscinet %}<span class="id"><a href="https://mathscinet.ams.org/mathscinet-getitem?mr={{ paper.mathscinet }}"><span class="id-type id-mr">MR</span><span class="id-key">{{ paper.mathscinet }}</span></a></span>{% endif %}
    {% if paper.zbmath %}<span class="id"><a href="https://zbmath.org/?q=an%3A{{ paper.zbmath }}"><span class="id-type id-zbl">Zbl</span><span class="id-key">{{ paper.zbmath }}</span></a></span>{% endif %}
    {% if paper.doi %}<span class="id"><a href="https://doi.org/{{ paper.doi }}"><span class="id-type id-doi">doi</span><span class="id-key">{{ paper.doi }}</span></a></span>{% endif %}
    {% if paper.pdf %}<span class="id"><a href="{{ paper.pdf }}"><span class="id-type id-pdf">pdf</span><span class="id-key">link</span></a></span>{% endif %}
    </p>
  {% endif %}
</li>

