<p style="background-color: rgb(255, 243, 205); border: 1px solid rgb(255, 238, 186); padding: 10px;">
  The functionality outlined below is implemented in <a href="https://github.com/pbelmans/twisted-hodge"><strong>Twisted Hodge numbers for complete intersections</strong></a>, which can be used in Sage.
  If you use it for your research, please cite it using <a href="https://doi.org/10.5281/zenodo.7006757"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.7006757.svg" alt="DOI"></a>.
</p>

