<p style="background-color: rgb(255, 243, 205); border: 1px solid rgb(255, 238, 186); padding: 10px;">
  The functionality outlined below is implemented in
  <a href="https://github.com/pbelmans/twisted-hodge-hilbert"><strong>Twisted Hodge numbers for Hilbert schemes of points</strong></a>,
  which can be used in Sage.
  There is <a href="https://twisted-hilbert.ncag.info">documentation</a>.
  <br>
  If you use it for your research,
  please cite it using the DOI
  <a href="https://doi.org/10.5281/zenodo.14334379">
    <img src="https://zenodo.org/badge/DOI/10.5281/zenodo.14334379.svg" alt="DOI">
  </a>,
  <a href="https://github.com/pbelmans/twisted-hodge-hilbert?tab=readme-ov-file#how-to-cite">as explained in the README</a>.
</p>


