---
layout: post
title: Clean URLs for Grassmannian.info and Fanography
type: post
categories:
- mathematics
tags:
- algebraic geometry
author: Pieter Belmans
---

<p>Minor technical message: In case you noticed that until a few days ago
<ul>
  <li style="margin-bottom: 4px">{% include icon-fanography.html %}
  <li style="margin-bottom: 4px">{% include icon-grassmannian.html %}
</ul>
used to have "ugly" URLs that referred to the host of those sites, that is now fixed.
<p>If you want to refer to these you can now just copy-paste the URL from your browser and it will be a pretty URL, independent of any future hosting decisions. For the time being the old URLs will redirect properly.
